body
{
    padding: 0px;
    margin: 0px;
}

#navigation-bar
{
    background-color: #ffe6e6;
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}

nav
{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#nav-right-link
{
    float: right;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 11px;
}
#anchor
{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#anchor:hover
{
    color: #ff3333;
}

#h1
{
    text-align: center;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff3333;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffe6e6;
  }

#all-india
{
    padding-left: 380px;
}

#useful
{
    text-decoration: none;
    color: #3366ff;
}

#india
{
    display: inline-block;
    height: 100px;
    width: 150px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border: 5px solid #ffe6e6;
    border-radius: 15px;
    text-align: center;
    color: #ff6666;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

#button
{
    height: 30px;
    width: 70px;
    background-color: #ffe6e6;
    color: #ff3333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    margin-left: 25px;
}

#button:hover
{
    background-color: #ff9999;
}

#state-wise-data
{
    font-size: 30px;
    color: #ff3333;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#label-id
{
    font-size: 25px;
    color: #ff4d4d;
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr
{
    border-top: 3px solid red;
    margin-left: 35px;
    margin-right: 35px;
}

h2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #ff4d4d;
    margin-left: 30px;
}

input[type=text]
{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #ffe6e6;
  background-color: #ffe6e6;
  color: #ff3333;
}
input[type=text]:focus
{
  border: 4px solid #ff3333;
}

#submit
{
    background-color: #ffe6e6;
    color: #ff3333;
    height: 45px;
    width: 85px;
    text-align: center;
    border: 3px solid #ff3333;
    font-weight: bold;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
#submit:hover
{
    color: white;
    background-color:#ff3333;
}

#meme
{
    margin-left: 275px;
    height: 400px;
    width: 700px;
    border-radius: 10px;
}

#about-para
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #ff3333;
    font-size: 40px;
}

#button-anchor
{
    text-decoration: none;
    color: #ff3333;
}
#button-anchor: hover
{
    color: white;
}
