<html>
    <head>
        <title> Covid Data </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id="navigation-bar">
            <nav>
                <span id="nav-title"><a id="anchor" href="https://covid19-daily-updates.herokuapp.com/">COVID DATA</a></span>
                <span id="nav-right-link"><a id="anchor" href="about.html">About &nbsp;&nbsp;</a></span>
                <span id="nav-right-link"><a id="anchor" href="usefulLinks.html">Useful Links</a></span>
            </nav>
        </div>
        <h1 id="h1">Covid Data India</h1>
        <br>
        <div id="all-india">
            <div id="india">
                <p>Total Cases</p>
                <p style="color: #cc0000;"><b>{{ return_list[0] }}</b></p>
            </div>
            <div id="india">
                <p>Total Recovered</p>
                <p style="color: #3333ff;"><b>{{ return_list[1] }}</b></p>
            </div>
            <div id="india">
                <p>Total Vaccinated</p>
                <p style="color:#00802b;"><b>{{ return_list[2] }}</b></p>
            </div>
        </div>
        <br><br>

        {% if return_list[3] != 0 %}
            <div id="state-wise">
                <p id="state-wise-data">Search state wise data</p>
                <hr><br>
                <h2> Total no of cases in <b>{{ return_list[-1] }}</b> is:  <b>{{ return_list[3] }}</b> </h2>
                <h2> Total no of recovered cases in <b>{{ return_list[-1] }}</b> is: <b>{{ return_list[4] }}</b></h2>
            </div>
        {% else %}
            <div id="state-wise">
                <p id="state-wise-data">Please enter a valid Indian state.</p>
            </div>
        {% endif %}
        <div id="button">
                <p style="margin-top: -1px;"><a id="button-anchor" href="https://covid19-daily-updates.herokuapp.com">Reset</a></p>
        </div>
    </body>
</html>